In [1]:
import pandas as pd

In [4]:
dfa = pd.read_csv('./population_communes.csv')
dfb = pd.read_csv('./surface_departements.csv')

In [8]:
dfa

,Code département,Code canton,Code arrondissement,Code région,Nom de la commune,Code commune,Nom de la région,variable,value
0,64,27.0,3,75,Aast,1,Nouvelle-Aquitaine,Population totale,184
1,64,27.0,3,75,Aast,1,Nouvelle-Aquitaine,Population municipale,177
2,55,10.0,2,44,Abainville,1,Grand Est,Population totale,310
3,55,10.0,2,44,Abainville,1,Grand Est,Population municipale,305
4,60,11.0,1,32,Abancourt,1,Hauts-de-France,Population totale,658
...,...,...,...,...,...,...,...,...,...
70759,62,38.0,1,32,Œuf-en-Ternois,633,Hauts-de-France,Population municipale,251
70760,51,6.0,2,44,Œuilly,410,Grand Est,Population municipale,635
70761,02,6.0,2,32,Œuilly,565,Hauts-de-France,Population totale,292
70762,51,6.0,2,44,Œuilly,410,Grand Est,Population totale,645
70763,02,6.0,2,32,Œuilly,565,Hauts-de-France,Population municipale,290

In [33]:
df_dept = dfa.groupby(['Code département','Code région','variable']).sum().reset_index()[
    ['Code département','Code région','variable','value']
]
df_dept = df_dept.pivot_table(values='value',columns='variable',index=['Code région','Code département'])
pop_region = df_dept.groupby('Code région').transform('sum')

variable                      Population municipale  Population totale
Code région Code département
1           971                              394110             400170
2           972                              376480             382294
3           973                              269352             271829
4           974                              852924             862814
11          75                             12117132           12258425
...                                             ...                ...
93          13                              5021928            5103573
            83                              5021928            5103573
            84                              5021928            5103573
94          2A                               330455             335995
            2B                               330455             335995

[100 rows x 2 columns]